* {
    text-align: center;
    margin: 0px;
    border: 0px;
}
#clear-board {
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    display: inline-block;
}
#button-random-color {
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    display: inline-block;
}
.color {
    border: 1px solid black;
    padding: 30px;
    width: 30px;
    margin: 2px;
    display: inline-block;
}
#pixel-board {
    margin-top: 20px;
    border: 1px solid black;
    width: 210px;
    display: inline-block;
}
.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}