* {
    text-align: center;
    margin: 0px;
    border: 0px;
    background-color: rgb(27, 47, 63);
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}
#clear-board {
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: black;
    display: inline-block;
}
#button-random-color {
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: black;
    display: inline-block;
}
button {
    background-color: black;
    border-radius: 100px;
}
#board-size {
    margin-top: 15px;
    background-color: gray;
    border-radius: 100px;
}
p {
    background-color: black;
}
.color {
    border: 1px solid black;
    padding: 30px;
    width: 30px;
    margin: 2px;
    display: inline-block;
}
#pixel-board {
    margin-top: 20px;
    border: 1px solid black;
    display: inline-block;
}
.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
}
footer {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 97.5%;
}